<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="BACKEND_URL_exampel" value="http://localhost:3080/ghl/"/>
    <add key="BACKEND_URL" value="http://localhost:3080/ghl/"/>

    <!--<add key="BACKEND_URL" value="http://192.168.20.133/ghlBackend/ghl/"/> 好心肝IP-->

  </appSettings>
</configuration>